<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- partial('../components/seo/meta', locals) %>
    <title>DigiMArt | <%= title %></title>
    <link rel="stylesheet" href="/<%= versionedAsset('styles/global.css') %>">
    <link rel="stylesheet" href="/<%= versionedAsset('styles/buttons.css') %>">
    <link rel="stylesheet" href="/<%= versionedAsset('styles/forms.css') %>">
    <link rel="stylesheet" href="/<%= versionedAsset('styles/products.css') %>">
    <link rel="stylesheet" href="/<%= versionedAsset('styles/product-detail.css') %>">
    <link rel="stylesheet" href="/<%= versionedAsset('styles/homepage.css') %>">
    <link rel="stylesheet" href="/<%= versionedAsset('styles/err.css') %>">
</head>
<body<% if (authenticated) { %> class="authenticated-page"<% } %>>
    <%- partial('../components/common/header', locals) %>
    <main>
        <%- body %>  
    </main>  
    <%- partial('../components/common/footer', locals) %>
    <div class="overlay"></div>
    <script src="/<%= versionedAsset('scripts/session-monitor.js') %>"></script>
    <script src="/<%= versionedAsset('scripts/cornerAnimation.js') %>"></script>
    <script src="/<%= versionedAsset('scripts/password-validation.js') %>"></script>
     <!-- Turnstile script -->
    <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async
    defer></script>
</body>
</html>